@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

html {
    background-color: #0f0f0fff;
}

body {
    margin: 0 auto;
    max-width: 800px;
    background-color: #1f1f1fff;
    color: #d0d0d0ff;
    padding:15mm;
}

h1{
    font-family: 'Maven Pro', 'Roboto', sans-serif;
    margin: 0;
    text-align: center;
}

h2 {
    margin-top: 32px;
}

h2, h3, h4, h5, h6 {
    font-family: 'Maven Pro', 'Roboto', sans-serif;
}

header{
    padding: 16px;
}

a {
    color: #20b000ff;
}

li {
    padding: 2px 0;
}